@model Board

@{
    ViewData["Title"] = "Details";
}
<div id="modalCard">
</div>
<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <a class="btn" asp-action="Index"><i class="fa fa-arrow-left"></i></a>
    <a class="btn" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit"></i></a> |
    <div>
        <a class="btn btn-dark" asp-controller="Columns" asp-action="Create" asp-route-boardId="@Model.Id">Create Column</a>
        @if (Model.Columns.Count > 0)
        {
            <button class="btn btn-dark" type="button" data-toggle="ajax-modal" data-target="#addCard" data-url="@Url.Action("Create", "Cards", new {columnId = @Model.Columns.ElementAt(0).Id})"> Add Card</button>
        }
    </div>
    <hr />
</div>

<div>
    @for (int i = 0; i < Model.Columns.Count; i++)
    {

        @await Html.PartialAsync("~/Views/Columns/_ColumnSummary.cshtml", Model.Columns.ElementAt(i))
    }

</div>